<div class="cls-rp-bg">
		<form  id="frmriskprofile">
      <input type="hidden" value="" id="txtanswercount">
			<div id="riskprofile">							
			</div>
		</form>		
</div>




<!-- 
<div class="pb-footer">
  <div class="pull-right">
  	<button type="button" class="btn cls-rp-btn" id="btnRPNext" ><i class="fa fa-angle-down"></i></button>
  	<button type="button" class="btn cls-rp-btn" id="btnRPPrev" style="margin-right:10px"><i class="fa fa-angle-up"></i></button>					
  </div>
  <span id="qtn_attempt" class="cls-rp-prgressspan">0 of 4 answered</span>
  				
  <div class="progress cls-rp-progresbar">
  	<div class="progress-bar cls-rp-progressbarcolor" id="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" >
  	</div>
  </div>
  
  <div class="progress cls-rp-progresbar">
    <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id="progressbar" >
      <span class="sr-only">20% Complete</span>
    </div>
  </div>
</div> -->
</div>


<div class="pb-footer">
    <div class="col-xs-7">
        <span id="qtn_attempt" class="cls-rp-prgressspan">0 of 4 answered</span>
         <div class="progress cls-rp-progresbar">
            <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id="progressbar" >
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
    </div>
    <div class="col-xs-5 text-right">
      <button type="button" class="btn cls-rp-btn" id="btnRPNext" ><i class="fa fa-angle-down"></i></button>
      <button type="button" class="btn cls-rp-btn" id="btnRPPrev"><i class="fa fa-angle-up"></i></button>   
    </div>

