<div class="mHead callout callout-warning cls-rpresult" >
  Risk Profile : <span id="info_riskprofile"></span>
  <span class="pull-right" style="cursor:pointer;" id="btnRecalculate"><i  class="fa fa-retweet" ></i> Recalculate</span>
</div>
      
<div class="col-xs-12">


<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Assetwise Allocation</h4>
  </div>
  <!-- /.box-header -->
  <div class="box-body" id="asset_chart"></div>
  <!-- /.box-body -->
</div>
<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Sectorwise Allocation</h4>
  </div>
  <!-- /.box-header -->
  <div class="box-body" id="sectorwise_chart"></div>
  <!-- /.box-body -->
</div>

<div class="box box-solid">
  <div class="box-header with-border">
    <h4 class="box-title">Securitywise Allocation</h4>
  </div>
  <!-- /.box-header -->
  <div class="box-body" id="securitywise_chart"></div>
  <!-- /.box-body -->
</div>
</div>
