/********************** Common Styles ***********************/
body{font-family: 'Roboto', sans-serif; font-size: 14px; min-height: 100%; margin: 0; padding: 0; } 
a:hover{text-decoration: none;}
.container-fluid{float: left; width: 100%}
.container{float: left; width: 100%}
.mWrapper{transition: 0.2s ease; min-height: 100%; float: left; width: 100%} 
.maincontent{float: left; width: 100%}
.mHead{position:relative; font-size: 16px; padding: 15px; margin: 0 0 15px;  font-weight: 500; background: #ececec;  border-bottom: solid 1px #e4e4e4; display: table; width: 100%}
.textWrap{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.backTop{background: #2196f3; color: #fff; position: fixed; bottom: 80px; right: 15px; z-index: 9999; width: 40px; height: 40px; text-align: center; line-height: 40px; cursor: pointer; border: 0; text-decoration: none; display: none; border-radius: 50%; }
.backBtn{position: absolute; right: 14px; top: 0; font-size: 13px; color: #7b7b7b; text-align: center; height: 50px; line-height: 48px; }
.overlayNav {display: none; z-index: 998; position: absolute; top:0; left:0; background-color: rgba(0,0,0,0.8); width: 100%; height: 100%; transition: inherit !important}
.noMargin{margin: 0}

/********************** Currency icon ***********************/
.ico_INR:before{content: "\f156";}
.ico_USD:before{content: "\f155";}
.ico_PHP:before{content: "\f158";}

/********************** Form Elements ***********************/
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;}
.form-horizontal .control-label{font-weight: 500; text-align: left;}
.form-horizontal .form-control{border-radius: 2px; border-color: #e8e8e8;}
.form-horizontal .input-group-addon{border-color: #e8e8e8;}
.btn-mt{border: none; border-radius: 2px; height: 36px; line-height: 36px; padding: 0 15px; text-transform: uppercase; text-decoration: none; color: #fff; letter-spacing: .5px; cursor: pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }
.btn-mt:hover{color:#fff;}
.btn-mt.yellow{background-color: #FF9800}

/********************** Login Page ***********************/
.cls-forgotpwd-error{text-align:left;}
.cls-forgotpwd-error p {color:#b92219; font-size:18px; border-color:#e4a197; }
.login-logo{font-weight: 600; font-size: 24px; font-size: 16px; padding: 10px 15px; font-weight: 500; background: #2196f3; border-bottom: solid 1px #e4e4e4; color:#fff; }
.login-page {background:white;} 
.user-block .username {margin-left:0px;}
.highcharts-container{width:100% !important; height:100% !important;}
.login-frm {padding:60px 15px 15px; min-height: 250px;}
.forgetPassword{padding: 10px 0; display: inline-block; font-size: 12px;}

/********************** Short Links Top***********************/
.shortNav{ border-bottom:solid 1px #e4e4e4; overflow: hidden; background-color: #fff; float: left; width: 100%;  text-align:center;}
.shortNav .listing a{color:#333; display: block;}
.shortNav .listing_heading{font-size:12px; margin:5px 0 0 0;}
.shortNavList{padding: 15px 0; margin:0 0 -5px 0; white-space: nowrap; overflow: hidden; overflow-x: auto;}
.shortNav .listing{display: inline-block; float: none; padding:0 15px}
.shortNav .listing_icon{color:#222; font-size: 16px; border-radius: 50%; width:30px; height: 30px; line-height:20px; padding:5px; display: inline-block;/*  border: solid 1px #dadada;*/}

/********************** Header ***********************/
.header .navbar{background:#2196f3;  border:0; border-bottom:solid 1px #0d8aee;  border-radius: 0; margin: 0}
.header .navbar .navbar-brand{color:#fff; margin-left: 30px;}
.header .navbar .navbar-text{color:#fff;}
.header .navbar-brand:hover{color:#fff;}
.header .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover{background-color: transparent;}
.viewtitle{font-size: 16px; color: #fff; display: inline-block; padding: 15px 0;}

.navbar-toggle{margin-right: 0; position:absolute; left:0; top:0; border:0; top:1px;}
.navbar-toggle .icon-bar {background:#fff; position: relative; transition: all 0.5s ease-in-out;}
.navbar-toggle.active .icon-bar:nth-of-type(1) {top: 6px; transform: rotate(45deg);}
.navbar-toggle.active .icon-bar:nth-of-type(2) {background-color: transparent;}
.navbar-toggle.active .icon-bar:nth-of-type(3) {top: -6px; transform: rotate(-45deg);}

.navbarBack{left: auto; right: 0}
.navbarBack.active .icon-bar:nth-of-type(1) {top: 9px; transform: rotate(45deg); width: 10px;}
.navbarBack.active .icon-bar:nth-of-type(2) {background-color:#fff; transform: translateX(3px); width: 15px;}
.navbarBack.active .icon-bar:nth-of-type(3) {top: -9px; transform: rotate(-45deg); width: 10px;}

.userProfile{float: right; position: absolute; right: 0; top: 48px;}
.userProfile a{color:#fff;}
.userProfile{padding: 0; box-shadow: 0 0 20px rgba(0,0,0,0.2); border-radius: 0;}
.userProfile li a{ padding: 10px 20px}
.userProfile li span{padding:8px 20px; display: block; border-bottom:solid 1px #eee;}

.sticky{float: left; width: 100%}
.fixed{position: fixed; top:0; left:0; width: 100%; z-index: 999;}
.fixed .shortNav{background:#e8e8e8}
.fixed .shortNavList{padding:8px 0}

/********************** Left Navbar ***********************/
.easy-sidebar.toggled .navbar-toggle{right: -50px; left: auto;}
.navbar.easy-sidebar{background-color:#fff; box-shadow: 2px 0 15px rgba(0,0,0,0.2); color:#222; transition: 0.2s ease; position: fixed;  width: 250px; top: 0; left: -250px; min-height: 100%; height: 100vh; border-radius: 0; margin: 0; z-index: 999; border:0; }
.navbar.easy-sidebar .navbar-nav{margin: 0; background-color:#fff; overflow: hidden; overflow-y: auto; height: 100vh;} 
.navbar.easy-sidebar .navbar-header{background-color:#2196f3; color:#fff; width: 100%}
.navbar.easy-sidebar .navbar-brand{color: #fff; width: 100%; font-size: 17px; padding: 15px 23px;}
.navbar.easy-sidebar .navbar-brand i{width: 25px; }
.navbar.easy-sidebar.toggled {height:100%; -webkit-transform: translateX(250px); transform: translateX(250px); }
.navbar.easy-sidebar .navbar-nav>.active>a{ border-color:#ff9800;  border-color:#f37e21; background-color:#222; color:#fff;}
.navbar.easy-sidebar .navbar-nav>li>a{padding:13px 15px; border-left:solid 8px #fff; color:#333;}
.navbar.easy-sidebar .navbar-nav>li>span{padding:13px 15px; border-left:solid 8px #fff; display: block;}
.navbar.easy-sidebar .navbar-nav i{width: 25px; }
.navbar.easy-sidebar .navbar-nav .logout{border-color:#eee; border-top: solid 1px #eee; border-bottom: solid 1px #eee; background-color: #eee}
.logout i{color:#ff0000;}
.holding-refresh {position: absolute; right: 0; top:0; padding:12px 15px; color: #fff; cursor: pointer; }


/***************** Tab View Navbar ************/
.navCustom{text-align: right; float: right; border:0; margin-top: -44px;}
.navCustom li{float: none; display: inline-block; }
.navCustom>li>a, .navCustom>li>a:focus, .navCustom>li>a:hover{color:#333; border:0; background-color: transparent;}
.navCustom>li.active>a, .navCustom>li.active>a:focus, .navCustom>li.active>a:hover{ color:#2196f3; border:0; background-color: transparent;}


/***************** Footer ************/
.main-footer{color:#444; left: 0; padding: 10px 0; font-size: 11px;}
.main-footer hr{margin:5px 0;}

/***************** Slider Button ************/
.switch {position: relative; display: inline-block; width: 55px; height: 26px; }
.switch input {display:none;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before {position: absolute; content: ""; height: 19px; width: 20px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input:checked + .slider {background-color: #2196f3; }
input:focus + .slider {box-shadow: 0 0 1px #2196f3; }
input:checked + .slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
.slider.round {border-radius: 34px;}
.slider.round:before{border-radius: 50%;}

/**************** Risk Profile *************/
.cls-rp-qtn{color:#fff; font-size: 16px; padding: 10px; font-weight: normal; background: #2196f3; border-bottom: solid 1px #e4e4e4; display: block; float: left; width: 100%;}
.cls-rp-ans{color:#000; font-size:13px; float: left; width: 100%;}
.cls-rp-btn {color:#FFFFFF; background-color:#26a69a;}
.cls-rp-bg {float: left; width: 100%; padding-bottom: 100px; background-color:#fff;}
.cls-rp-footer {bottom:0; position:fixed; background-color:black;}
.cls-rp-progressbarcolor {background-color:#57909C; height:8px;}
.cls-rp-qtnansblock {float: left; width: 100%; height: 100%; height: 100vh;}
.cls-rp-btnblock {padding-left: 5%; height: 60%; padding-right: 10%;}
.cls-rp-sbmitbtn {width:150px; height:50px; background-color:#57909C; color:#FFFFFF;}
.cls-rp-progresbar {height: 5px; margin: 0; background-color:gainsboro;}
.cls-rp-progresbar .progress-bar {background-color:#ff9800;}
.cls-rp-inptgrp {padding-right: 5px; background-color:#292929!important; border:0px; padding-left:0px;}
.cls-rp-inptcntrl {margin-left: -5px !important;}
.cls-rp-prgressspan {font-size:13px; padding: 0 0 10px 0; display: block;}
.cls-rp-qtnitem {color:#57909C; position: absolute; margin-top: 4px; font-size:19px;}
.pb-footer {background: #fff; padding: 10px 15px; color: #444; border-top: 1px solid #d2d6de; -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out; -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out; -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out; transition: transform .3s ease-in-out,margin .3s ease-in-out; z-index: 820; position:fixed; left: 0; bottom:0; width:100%;}

/***************** News Feed **************/
.cls-newsfeed-ul{padding: 10px 0; list-style: none;}
.cls-newsfeed-ul >li>a {padding-top: 20px; padding-bottom: 20px; border:0; border-bottom: solid 1px #eee;}
.cls-newsfeed-ul h3{margin: 0; padding:0 0 5px; font-size: 16px; font-weight: 600}
.cls-newsfeed-ul p{margin: 0; padding: 0; font-size: 12px; color: #999;}

.newsFeed{ font-weight: normal; padding:0; margin:0; background: #fff;}
.newsFeed .newsList{list-style: none; border-bottom: solid 1px #eee;}
.newsFeed .newsLink{color:#666; padding: 15px; display: block;}
.newsFeed .media-body, .newsFeed .thumbnail{padding: 0; margin:0}
.newsFeed h4{color:#176592; font-size: 16px; font-weight: 600}
.newsFeed .newsActionBtn{padding: 15px 10px; background: none; border:0; outline:0; position: absolute; right: 0}
.newsFeed .dropdown-menu{top:30px; right: 10px; border-color: #ccc; padding: 0}
.newsFeed .dropdown-menu>li>a{padding:7px 20px;}

/************** Top List Holding *************/
.top_listHolding{display: table; width: 100%; box-shadow:0 2px 5px rgba(0,0,0,0.1); background:#fff; border-bottom: solid 1px #e4e4e4; color:#444; font-size: 14px;}
.top_listHolding.fixed{top:45px;}
.netWorth{border-right: solid 1px #d2d9de; padding: 10px 0;}
.netWorth .amnt{font-size: 19px; display: block; color: #f37e21; font-weight: 500}
.netWorth .amnt i{font-size: 20px; font-weight: 300}
.gainLoss{padding: 10px 0;}
.gainLoss .amnt{font-size: 16px; padding: 5px 0 0 0; display: block; font-weight: 500;}
.gainLoss .amnt_perc{font-size: 14px;}

.bg-red .gainloss_perc, .bg-red .amnt_perc, .bg-red .amnt{color:#f44336}
.bg-green .gainloss_perc, .bg-green .amnt_perc, .bg-green .amnt{color:#4caf50}
.bg-default .gainloss_perc, .bg-default .amnt_perc, .bg-default .amnt{color:#333}

/************** Holding *************/
.nav-tabs-custom .tab-content{padding: 0;}
.listHolding{position: relative; margin:0 0 3px 0; float:left; width: 100%; background-color: #fff; border-left:solid 5px #fff; border-bottom: solid 1px #eae6e6; padding:15px 0;}
.listHolding:nth-child(even){background-color:#f5f4f4;}
.listHolding .marketvalue{font-size: 18px; font-weight: 600; color:#333; display: block;}
.listHolding .assetclassname{font-size: 15px; font-weight: 600; color:#333; display: block;}
.listHolding .security_name{font-size: 15px; font-weight: 600; color:#333; display: block; text-transform: uppercase;}
.listHolding .marketvalue.sm{font-size: 15px; font-weight: 500; color:#666;}
.listHolding .compName{font-size: 16px; color:#222; display: block; font-weight: 600; margin:0; padding: 5px 0 0 0;}
.listHolding .lcy{color:#999;display: block;}
.listHolding .accNum{font-size: 13px;}
.listHolding .holdingLink{display: block; font-size: 20px; text-align: center; color:#333; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);}
.listBlock{position: relative; text-align: right;  display: block; }
.listHolding.bg-red .listBlock i{color:#f44336;   font-weight: 600}
.listHolding.bg-green .listBlock i{color:#4caf50;   font-weight: 600}
.listBlock .gainloss_amnt{font-size: 14px; display: block; color:#555;}
.listBlock .gainloss_perc{font-size: 16px;  display: block;}
.listHolding .accName {display: block; text-align: right; color: #555; font-size: 13px; }
.listHolding.bg-red{border-left-color:#f44336;}
.listHolding.bg-green{border-left-color:#4caf50;}
.listHolding.bg-default{border-left-color:#333;}

.backBtnHolding{top:-2px; padding: 5px !important;}
.backBtnHolding i{padding: 5px; height: 23px; width: 22px; text-align: center; line-height: 11px; border-radius: 50%;}
/************ Trade Listing ***********/
.tradeLisWrp{margin:10px;}
.tradeListing{border-bottom: solid 5px #f0efef;  border-radius: 6px; cursor: pointer; float: left; width: 100%; color:#444; background-color: #fff; }
.tradeListing .tradeList{float: left; width: 100%;  }
.tradeListing .fa-angle-down{border-radius: 50%; width: 25px; height: 25px; line-height: 23px; text-align: center; margin-top: 10px;} 
.tradeListing.active .fa-angle-down{background: #045a9f; color: #ffffff;}
.tradeListing .compName {font-size: 15px; font-weight: normal; float: left; width: 100%; color: #484848; padding:0 10px; margin:0;}
.tradeListing .compName .cmp{border-radius: 5px 5px 0 0; width: 70%; float: left; font-size: 16px; font-weight: 600; color: #00508f; padding: 15px 0;}
.tradeListing .compName .status{font-size: 14px}
.tradeListing .exc{margin: 5px 0 0 0; display: block; color:#333; font-weight: 600}
.tradeListing .status{border-radius: 4px; width: 85px; margin:10px 0; float: right; text-transform: capitalize; text-align: center; display: block; padding:5px 10px;}
.tradeList.pending .status{background-color:#dd4b39;  color: #fff;}
.tradeList.completed .status{background-color:#00a65a; color: #fff }
.trade_dtl{float: left; width: 100%; font-size: 13px;}
.trade_dtl .col1{display: block; padding: 15px 0}
.trade_dtl .col2{display: block; padding: 15px 0}

.tradeListInfo{background-color: #fff; float: left; width: 100%; padding: 10px 20px;}
.tradeListInfo ul{float: left; width: 100%; list-style: none; padding: 0;}
.tradeListInfo li{width: 50%; float: left; margin:0; border-bottom: solid 1px #eee; border-top: 0; padding:10px 0;}
.tradeListInfo li strong {display: block; color: #333; font-weight: normal;}
.tradeListInfo li span {display: block; /*color: #6e0327; font-size: 16px;*/ font-weight: 600; display: block; color: #74181a; font-weight: 600; font-size: 15px;}

.tradeListing.active{box-shadow:0 0 40px -14px rgba(0,0,0,0.8);}
.tradeListing.active .fa-angle-down:before{content:'\f106';}
.tradeListing.active .trade_dtl{background-color: #e8f1fa; color:#000;}
.tradeListing.active .compName{color:#fff; background-color:#2196f3;}
.tradeListing.active .cmp{color:#fff !important;}

/****************** Watchlist ******************/
.tophd{float: left; width: 100%; font-size: 12px; font-weight: 300; margin-top: 5px; padding:5px 0; background-color: #222; color:#a9a9a9; font-family: arial;}
.watchlist_holding{cursor: pointer; display: table; width: 100%; padding: 15px 0; color:#999; background-color: #fff; border-bottom: solid 1px #eae6e6;}
.watchlist_holding:nth-child(even){background-color:#f5f4f4;}
.watchlist_holding .compName{font-size: 18px; color:#1b648e; display: block; font-weight: 600; margin:0;}
.watchlist_holding .marketvalue{font-weight: 600; font-size: 16px;  color:#333; display: block;}
.watchlist_holding .marketvalue i{font-size: 13px;}
.watchlist_holding .gainloss_perc{font-size: 16px; }
.watchlist_holding .listBlock{margin:10px 0;}

.addWatchlist{position: fixed; right: 20px; bottom: 20%;  width: 50px; height: 50px; line-height: 45px; font-size: 36px; text-align: center; background-color: #1274c0; color:#fff; border-radius: 50%; border:solid 2px; box-shadow: 0 0 5px rgba(0,0,0,0.5); z-index: 999}
.watchlistSearch{float:left; width: 100%;}
.watchlistSearch .awesomplete{float:left; width: 80%;}
.watchlistSearch .btn{float:left; width: 20%; border-radius: 0 2px 2px 0}


/************* Trade View ***************/
.tradeNav{list-style: none;  margin:0; padding:0; position: relative;}
.tradeNav li a{color: #222; display: block; font-weight: 600; padding: 15px 20px; border-bottom: solid 1px #f1eded;} 
.tradeNav li span{padding: 0 10px;}
.tradeNav li .icon{/*color: #ffffff; background: #FF9800;*/ color: #3a3a3a; background: #fff; padding: 6px; }
.tradeNav li .fa-angle-right{padding: 5px 0;}

/************** Equity Summary List ***************/
.orderSummary{float: left; width: 100%; background-color: #fff}
.summaryList{float:left; width: 100%; list-style: none; margin:0; padding:0; }
.summaryList li{float:left; width: 100%; padding: 10px; border-bottom: solid 1px #e8e8e8;}
.summaryList li:nth-child(even){background-color:#f5f4f4;}
.summaryList li strong{float: left; width:35%;}
.summaryList li span{float:right; width: 60%; font-size: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.summaryBtn{float:left; width: 100%; padding: 20px 0;}



/*********** Profile and Contact us page **************/
.profile-userpic {float: none; margin: 20px auto 0; text-align: center; margin-top: 20px;}
.profile-userpic i{border-radius: 50%; background-color: #eee; font-size: 36px;  width:70px; height: 70px; line-height: 65px;}
.profile-usertitle{text-align: center; margin-top: 20px;}
.profile-usertitle-name{text-transform:capitalize; color: #5a7391; font-size: 16px; font-weight: 600; margin-bottom: 7px;}
.profile-usertitle-job{text-transform: uppercase; color: #5b9bd1; font-size: 12px; font-weight: 600; margin-bottom: 15px;}
.profile-userbuttons{text-align: center; margin-top: 10px;}
.profile-userbuttons .btn{text-transform: uppercase; font-size: 11px; font-weight: 600; padding: 6px 15px; margin-right: 5px;}
.profile-userbuttons .btn:last-child{margin-right: 0px;}
.profile-usermenu{margin-top: 30px;}
.profile-usermenu ul li {border-bottom: 1px solid #f0f4f7;}
.profile-usermenu ul li:last-child{border-bottom: none;}
.profile-usermenu ul li a{color: #40546b; font-size: 14px; font-weight: 400; padding-left: 40px;}
.profile-usermenu ul li p {position: relative; padding: 10px 15px 10px 40px;  color: #40546b;}
.profile-usermenu ul li i {color: #93a3b5; position: absolute; left: 15px; top:13px; font-size: 14px;}
.profile-usermenu ul li a:hover {background-color: #fafcfd; color: #5b9bd1;}
.profile-usermenu ul li.active{border-bottom: none;}
.profile-usermenu ul li.active a {color: #5b9bd1; background-color: #f6f9fb; border-left: 2px solid #5b9bd1; margin-left: -2px;}
.profile-content {padding: 20px; background: #fff; min-height: 460px;}
.cls-rpresult{font-size:16px;}

/*********** Error and Warnings ***************/
.errorDetails{background-color:#ffd1d1;text-align:left; color:#b92219;border-color:#e4a197;  padding: 5px 5px;}
.block_error{min-height: 300px; background: #fff url(../img/exclamation-xxl.jpg) no-repeat 0 0;}
.block_error div{padding: 40px 40px 40px 15px;}
.block_error div h3{color: #218bdc; font-size: 24px; display: block; padding: 0 0 15px 0; border-bottom: 1px solid #cccccc; margin-bottom: 12px; font-weight: normal;}
.block_error div h4{color: #000; font-size: 20px;}

/************** Webkit Scrollbar *************/
.scrollX ::-webkit-scrollbar {width: 5px; height: 3px; background-color: #eee;}
.scrollX ::-webkit-scrollbar-track{-webkit-border-radius: 5px; border-radius: 5px;}
.scrollX ::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border-radius: 5px; background: #ccc;}
.scrollX ::-webkit-scrollbar-thumb:window-inactive {background: #eee;}




@media (min-width: 768px){
  .navbar-nav>li {width:100%;}
  .navbar-toggle{display: block;}
  .navbar-right{margin-top: 0; padding: 15px; margin-bottom: 0;}
}