<form class="form-horizontal" id="frmprofile" name="frmprofile">
<div class="col-xs-12">  
   <input type="hidden" class="form-control" id="txtemail"  fieldname="user_id" value="<%= user_id %>">

            <div class="profile-sidebar">
            <div class="profile-userpic">
             <i class="fa fa-user"></i>
            </div>
       
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
             <%= user_name %>
            </div>
            <div class="profile-usertitle-job">
            <%= profile_id %>
            </div>
          </div>
  
          <div id="editdetails" style="display:none">
            <div class="form-group"> 
              <label for="txtaddress" class="col-md-2 col-sm-2 control-label">Address</label>                 
              <div class="col-md-10 col-sm-10">
                <input type="text" class="form-control" id="txtaddress"  name="txtaddress" placeholder="Please enter address"   fieldname="address" value="<%= address %>" >
              </div>
            </div>         
            <div class="form-group">          
              <label for="txtdtbirth" class="col-md-2 col-sm-2 control-label">Date of birth</label>                         
              <div class="col-md-10 col-sm-10">
                <div class="input-group date">
                  <input type="text" class="form-control pull-right calendar" id="dob" name="dob" fieldname="dob" value="<%= dob %>" >
                  <div class="input-group-addon ">
                    <i class="fa fa-calendar calendar"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">    
              <label for="txtmob" class="col-md-2 col-sm-2 control-label">Mobile</label>                       
              <div class="col-md-10 col-sm-10">
                <input type="text" class="form-control iwebz-numbermask" id="txtmob"  name="txtmob" placeholder="Please enter mobile no." fieldname="mobile_no" value="<%= mobile_no %>" validator="number" maxlength="12">
              </div>
            </div>
               <div class="profile-userbuttons">
                <a class="btn btn-success btn-sm" id="btnsaveprofile" >Save</a>

            
                <a class="btn btn-danger btn-sm" id="btncancel" >Cancel</a>
               </div> 
          
          </div> 
          
   

          <div id="showdetails">
           <div class="profile-userbuttons">
              <a id="btneditdetail" class="btn btn-success btn-sm">Edit Details</a>
            </div>

          <div class="profile-usermenu">
            <ul class="nav">
              <li class="col-xs-12 col-sm-6" id="profile_ref_address">
                <p>
                  <i class="fa fa-map-marker"></i>
                  Address: <%= address %>
                </p>
              </li>
              <li class="col-xs-12 col-sm-6" id="profile_ref_dob">
                <p>
                Date of Birth: 
                  <i class="fa fa-calendar"></i>
                   <%= dob %>
                </p>
              </li>
               <li class="col-xs-12 col-sm-6" id="">
                <p>
                <i class="fa fa-envelope"></i>
                  <%= user_id %> 
                </p>
              </li>
              <li class="col-xs-12 col-sm-6" id="profile_ref_mobile_no">
                <p>
                <i class="fa fa-mobile"></i>
                <%= mobile_no %> 
               </p>
              </li>
            </ul>
           
          </div>

            </div>
          </div>

</div>    
</form>