<h3 class="mHead">
  <b>Bond</b>
  <a href="#Trade/V2" class="backBtn">
    <i class="fa fa-angle-left"></i>
    Back
  </a>
</h3>
      
  <form class="form-horizontal" id="frmbond" name="frmbond"> 
    <input type="hidden" id="trans_type" name="trans_type"   fieldname="trans_type" value="" />
    <input type="hidden" id="assetclass" name="assetclass" fieldname="assetclass" value="FIS"/>
    <input type="hidden" id="entryon" name="entryon" fieldname="entryon"  value=""/>   
    
  
       <div class="col-xs-12">
         <div class="form-group">
          <label for="txtbondacct" class="col-xs-12 control-label">Exchange Type</label>
          <div class="col-xs-12 mtForm">
              <input class="with-gap" type="radio" name="exchangeGroup" id="btnbuy"  autocomplete="off" checked>
              <label for="btnbuy" id="lblbuy">Buy</label>
               <input class="with-gap" type="radio" name="exchangeGroup" id="btnsell"  autocomplete="off"><label for="btnsell" id="lblsell">Sell</label>
          </div>
        </div>

        <div class="form-group">
          <label for="txtbondacct" class="col-xs-12 control-label">Account</label>
          <div class="col-xs-12">
            <div class="input-field col s12">
            <select class="form-control" id="txtbondacct" name="txtbondacct" fieldname="accountid" validator="nonEmpty"></select>
          </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="txtbondsecurity" class="col-xs-12 control-label">Security</label>
          <div class="col-xs-12">
            <select class="form-control" id="txtbondsecurity"  name="txtbondsecurity" fieldname="security" validator="nonEmpty"></select>
          </div>
        </div>
        <div class="form-group" id="bondbalqty" style="display:none">
          <label for="txtbalqty" class="col-xs-12 control-label">Balance Quantity</label>
          <div class="col-xs-12">
           <label class="form-control" id="txtbalqty"  name="txtbalqty" ></label>
         </div>
       </div>
       <div class="form-group" id="amtblock">
        <label for="txtbondamt" class="col-xs-12 control-label">Amount</label>
        <div class="col-xs-12">
         <input type="text" class="form-control iwebz-numbermask"  id="txtbondamt"  name="txtbondamt" fieldname="amount" validator="">
       </div>
     </div>
     <div class="form-group" id="qtyblock">
      <label for="txtbondqty" class="col-xs-12 control-label">Quantity</label>
      <div class="col-xs-12">
        <input type="text" class="form-control iwebz-numbermask"  id="txtbondqty"  name="txtbondqty" fieldname="quantity" validator="">
      </div>
    </div>

     <div class="form-group">
        <div class="col-xs-12">
            <a class="btn btn-mt yellow" id="btnplacereq"  name="btnplacereq" >Place Request</a>
        </div> 
     </div>
   
    </div>
</form>