<h3 class="mHead">
  <b>Cash</b>
  <a href="#Trade/V2" class="backBtn">
    <i class="fa fa-angle-left"></i>
    Back
  </a>
</h3>


    <form class="form-horizontal" id="frmcash" name="frmcash">  
     <input type="hidden" id="trans_type" name="trans_type"   fieldname="trans_type" value="" />
     <input type="hidden" id="assetclass" name="assetclass" fieldname="assetclass" value="CASH"/>
     <input type="hidden" id="entryon" name="entryon" fieldname="entryon"  value=""/>           
     <input type="hidden" id="quantity" name="quantity" fieldname="quantity"  value=""/>    
   
   
   
      <div class="col-md-12">

        <div class="form-group">
              <label class="col-xs-12 control-label">Transaction Type</label>
             <div class="col-xs-12  mtForm">
                <input class="with-gap" type="radio" name="transGroup" id="btndeposit"  autocomplete="off" checked />
                 <label for="btndeposit"  id="lbldeposit">Deposit</label>

                <input class="with-gap" type="radio" name="transGroup" id="btnwithdraw"  autocomplete="off" /> 
                <label for="btnwithdraw"  id="lblwithdraw">Withdrawal</label>
            </div>
        </div>


      <div class="form-group">
          <label for="txtacct" class="col-xs-12 control-label">Account</label>
             <div class="col-xs-12">
                <select class="form-control" id="txtacct" name="txtacct" fieldname="accountid"  validator="nonEmpty"></select>
            </div>
        </div>


      
        <div class="form-group">
          <label for="txtcurrency" class="col-xs-12 control-label">Currency</label>
             <div class="col-xs-12">
                  <select class="form-control" id="txtcurrency" name="txtcurrency" fieldname="security" validator="nonEmpty"></select>
            </div>
        </div>
        <div class="form-group" id="cashbal" style="display:none">
          <label for="txtbal" class="col-xs-12 control-label">Balance</label>
             <div class="col-xs-12">
                 
                 <label class="form-control" id="txtbal" name="txtbal" >5000</label>
            </div>
        </div>
        <div class="form-group">
          <label for="txtamt" class="col-xs-12 control-label">Amount</label>
             <div class="col-xs-12">
               <input type="text" class="form-control iwebz-numbermask"  id="txtamt" name="txtamt" fieldname="amount" validator="nonEmpty,number">
            </div>
        </div>  <br>
             <a class="btn btn-mt yellow" id="btnplacereq" >Place Request</a>
            <br>                
       </div> 
        

</form>

