<h3 class="mHead noMargin">Select Option</h3>

        <form class="form-horizontal" id="frmtradeoption" name="frmtradeoption"> 

        <ul class="tradeNav">                
        <li>
          <a href="#trade/cash" id="btncash">
            <i class="icon fa fa-money"></i>
            <span>Cash</span>
            <i class="fa fa-angle-right pull-right"></i>
          </a>
        </li>
        <li>
          <a href="#trade/equity" id="btnequity" >
            <i class="icon fa fa-line-chart"></i>
            <span>Equity</span>
            <i class="fa fa-angle-right pull-right"></i>
          </a>
        </li>

        <li>
          <a href="#trade/bonds" id="btnbond">  
          <i class="icon fa fa-link"></i>
          <span>Bonds</span>
          <i class="fa fa-angle-right pull-right"></i>
          </a>
        </li>

        <li>
        <a href="#trade/unittrust" id="btnunittrust">
          <i class="icon fa fa fa-users"></i>              
          <span>Unit Trust</span>
          <i class="fa fa-angle-right pull-right"></i>
        </a>
        </li>

        </ul>

      </form>  
