<h3 class="mHead">
  <b>Unit Trust</b>
  <a href="#Trade/V2" class="backBtn">
    <i class="fa fa-angle-left"></i>
    Back
  </a>
</h3>

<form class="form-horizontal" id="frmunittrust" name="frmunittrust">  
   <input type="hidden" id="trans_type" name="trans_type" fieldname="trans_type" value="" />
   <input type="hidden" id="assetclass" name="assetclass" fieldname="assetclass" value="MF"/>
   <input type="hidden" id="entryon" name="entryon" fieldname="entryon"  value=""/>   
   
    <div class="col-md-12">

      <div class="form-group">
          <label for="" class="col-xs-12 control-label">Select Type</label>
         <div class="col-xs-12  mtForm">
          <input class="with-gap" type="radio" name="typeGroup" id="btnsubscribe" autocomplete="off" checked /> 
          <label for="btnsubscribe" id="lblsubscribe">Subscribe</label>
        
          <input class="with-gap" type="radio" name="typeGroup" id="btnredeem" autocomplete="off" /> 
         <label for="btnredeem" id="lblredeem">Redeem</label>
        </div>
      </div>   
   
      <div class="form-group">
        <label for="txtunitacct" class="col-xs-12 control-label">Account</label>
        <div class="col-xs-12">
          <select class="form-control" id="txtunitacct" fieldname="accountid" name="txtunitacct" validator="nonEmpty" ></select>
        </div>
      </div>
      <div class="form-group">
        <label for="txtunitfund" class="col-xs-12 control-label">Fund</label>
        <div class="col-xs-12">
          <select class="form-control" id="txtunitfund" fieldname="security" name="txtunitfund" validator="nonEmpty"></select>
        </div>
      </div>
      <div class="form-group" id="unthbalqty" style="display:none">
        <label for="txtbalunitqty" class="col-xs-12 control-label">Balance Quantity</label>
        <div class="col-xs-12">
         <label class="form-control" id="txtbalunitqty" name="txtbalunitqty"></label>
       </div>
     </div>
     <div class="form-group" id="amtblock">
      <label for="txtunitamt" class="col-xs-12 control-label">Amount</label>
      <div class="col-xs-12">
       <input type="text" class="form-control iwebz-numbermask"  id="txtunitamt" fieldname="amount" name="txtunitamt" validator="">
     </div>
   </div>               
   <div class="form-group" id="qtyblock">
      <label for="txtunitqty" class="col-xs-12 control-label">Quantity</label>
      <div class="col-xs-12">
       <input type="text" class="form-control iwebz-numbermask"  id="txtunitqty" fieldname="quantity" name="txtunitqty" validator="">
     </div>
   </div> 

   <div class="form-group">
        <div class="col-xs-12">
            <a class="btn btn-mt yellow" id="btnplacereq"  name="btnplacereq">Place Request</a>
        </div> 
   </div>


                

</div>
</form>

