<form class="form-horizontal" id="frmcontactus">  
    
      <div id="rmblck" style="display:none;">
          <div class="col-md-12">      
            <div class="profile-sidebar">
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                          <%= name %>
                        </div>
                        <div class="profile-usertitle-job">
                          Relationship Manager
                        </div>
                      </div>

                        <div class="profile-userbuttons">
                            <a href="tel:<%= office_no %>" target="_blank" class="btn btn-success btn-sm">Call</a>
                            <a href="mailto:<%= mail %>" target="_blank" class="btn btn-warning btn-sm">Email</a>
                          </div>


                          <div class="profile-usermenu">
                            <ul class="nav">
                              <li class="col-xs-12 col-sm-6" id="personal_no">
                                <a href="tel:<%= personal_no %>">
                                <i class="fa fa-mobile"></i>
                                Personal number: <%= personal_no %> </a>
                              </li>
                              <li class="col-xs-12 col-sm-6" id="office_no">
                                <a href="tel:<%= office_no %>"  target="_blank">
                                <i class="fa fa-phone"></i>
                                Office number: <%= office_no %></a>
                              </li>
                              <li class="col-xs-12 col-sm-6" id="personal_no">
                                <a href="mailto:<%= mail %>" target="_blank">
                                <i class="fa fa-envelope"></i>
                                <%= mail %> </a>
                              </li>
                              <li class="col-xs-12 col-sm-6" id="off_address">
                              <p>
                                <i class="fa fa-map-marker"></i>
                                Office Address
                                <%= off_address %>
                              </p>
                              </li>
                            </ul>
                          </div>

            </div>

      </div>
       </div>
      <div id="_norm" style="display:none;">
       <div class="block_error" >
        <div class="callout callout-warning cls-rpresult">
            <h4><i class="icon fa fa-info"></i> Information!</h4>
            Relationship manager is yet to be assigned.</div>    
      </div>
      </div>
   
 

</form>  
