<div class="container">
<div class="row">
<div class="login-logo">
      iWealth 
</div> 

<div class="login-page">
   
    <form class="form-horizontal" name="frmlogin" id="frmlogin" onsubmit="return false;"> 
     
      <input type="hidden" name="ctoken" id="ctoken" value="">

      <div class="col-xs-12">
      
      <div class="login-frm">      
          <div class="form-group has-feedback">            
            <input type="text" name="user_id" id="user_id" class="form-control" placeholder="Email Address" tabindex="1" size="35" maxlength="100" autocomplete="off">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
     
          <div class="form-group has-feedback">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" value="" size="35" tabindex="2" >      
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <input type="hidden" name="event" id="event" value="onLogin">
          </div>
        
          <div class="form-group errorDetails" style="display:none" id="loginValid">
            
          </div>

          
          <div class="form-group">
            <a style="color:#999; padding:10px 0" href="#forgetPassword" class="forgetPassword pull-left" id="forgotPassLink" onclick="" tabindex="">Forgot password <i class="fa fa-question-circle"></i> </a>

           <input type="button" id="btnSubmit" name="btnSubmit" tabindex="3"  class="btn btn-mt btn-success pull-right" value="Log in">
           
          </div>

          <div id="authMode" style="display:none;">application</div>

          <input type="hidden" name="txtForgotPwdLink" id="txtForgotPwdLink" value="false">
       

    </div>

    </div>

   </form>
</div>



<div class="clearfix"></div>

<footer class="main-footer text-center">  
    <img src="app/img/credence-logo.gif" height="40" /> 
    <hr />
   &copy; Credence Analytics (I) Pvt. Ltd.
    <br />All Rights Reserved. | <b>Version</b> 2.0
</footer>
</div>
</div>