<div class="top_listHolding sticky" id="top_listHolding">

</div>
<div id="_withholding">
        <h3 class="mHead noMargin">
          <i class="fa fa-bitbucket"></i>  Portfolio</b>
        </h3>
        <ul class="nav nav-tabs navCustom" id="holdinggraph">
          <li class="active">
            <a href="#accountlisting" data-toggle="tab"><i class="fa  fa-th-large"></i></a>
          </li>

          <li>
            <a href="#accountinggraph" data-toggle="tab" onclick="app.trade.onShowAccountHoldingChart(app.trade.accountChartObj)"><i class="fa fa-pie-chart"></i></a>
          </li>
          
        </ul>
        <div class="tab-content" id="accountholding">
          <div class="tab-pane active" id="accountlisting" style="height:100%"></div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="accountinggraph"></div>
        <!-- /.tab-content -->
        </div>
</div>

<div id="_noholding" style="display:none;">
   <div class="col-xs-12" class="block_error">
    <div class="callout callout-warning cls-rpresult">
        <h3><i class="icon fa fa-info"></i> Information!</h3>
        There is no investment in your account. Invest now for better returns.</div>  
        <div class="callout callout-warning cls-rpresult"><h4 id="_noholdingquote"></h4></div>
  </div>
</div>