   <div class="top_listHolding sticky" id="top_listHolding">
    
  </div>
<h3 class="mHead noMargin"><b>Assets</b> - <span id="account_no"></span></h3>


<ul class="nav nav-tabs navCustom" id="holdinggraph">
 <li class="active">
  	<a href="#assetlisting" data-toggle="tab"><i class="fa fa-th-large"></i></a>
  </li>
  
   <li>
  <a href="#assetgraph" data-toggle="tab" onclick="app.trade.onShowAccountHoldingChart(app.trade.accountChartObj)"><i class="fa fa-pie-chart"></i></a>
  </li>
 
 <li>
  	  <a class="backBtnHolding" onclick="app.trade.goBackToHoldingPage()">
		    <i class="fa fa-arrow-left"></i> 
		</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="assetlisting"></div>
  <!-- /.tab-pane -->
  <div class="tab-pane" id="assetgraph"></div>
<!-- /.tab-content -->
</div>
